<% include header.ejs %>
<% include navbar.ejs %>
<% include sidebar.ejs %>

		<h1>Bem vindo ao Erro</h1> 

	<table>
			<tr>
				<td>Erro</td>
				<td></td>
			</tr>
			<tr>
				<td><%= erro %></td>
				<td></td>
			</tr>
	</table>
	</body>
</html>
<% include footer.ejs %>