<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <title>Cade o Buzufba</title>
    </head>
    <body class="blue">
        <nav class="blue  darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">Cadê o Buzufba</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li><a href="/roteiros">Roteiros</a></li>
                  <li><a href="/itinerarios">Itinerários</a></li>
                  <li><a href="/">Apontamentos</a></li>
                  <li><a href="/horarios">Horários</a></li>
                  <li><a href="/pontos">Pontos</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  <li><a href="/roteiros">Roteiros</a></li>
                  <li><a href="/itinerarios">Itinerários</a></li>
                  <li><a href="/">Apontamentos</a></li>
                  <li><a href="/horarios">Horários</a></li>
                  <li><a href="/pontos">Pontos</a></li>
                </ul>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
            </div>
        </nav